In [ ]:
import pandas as pd

data = pd.read_csv('fifa21_train.csv')

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
data

In [ ]:
import numpy as np
categoricals = data.select_dtypes(include=[object])
numericals = data.select_dtypes(include=[np.number])

In [ ]:
categoricals.head()

In [ ]:
categoricals.dtypes

In [ ]:
numericals.dtypes

In [ ]:
# Delete 3 columns from the dataframe: ID, Loan Date End and Contract
data = data.drop(["ID", "Loan Date End", "Contract"], axis=1)

In [ ]:
cols = []
for i in data.columns:
    cols.append(i.lower())
    
data.columns = cols
data.columns = data.columns.str.replace(" ", "_")

In [ ]:
# Delete some columns from the dataframe
data = data.drop(["joined","attacking", "movement", "power", "mentality", "defending", "goalkeeping", "skill", "team_&_contract", "club", "nationality"], axis=1)

In [ ]:
# Delete NaN values in the dataframe

data1 = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)

In [ ]:
data1.columns=["percentage"]
data1 = data1[data1["percentage"]>0]
data1

In [ ]:
# Delete position column from the dataframe because is dificult to transform for our predicted model
data = data.drop(["position"], axis=1)
data["composure"] = data["composure"].fillna(data["composure"].mean())

In [ ]:
data1 = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
data1.columns=["percentage"]
data1 = data1[data1["percentage"]>0]
data1

In [ ]:
# Filling NaN values with mean. 
cols = ["volleys","curve", "agility", "balance", "jumping", "interceptions", "positioning", "vision", "sliding_tackle"]
for i in cols:
    data[i]= data[i].fillna(data[i].mean())

data

In [ ]:
data1 = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
data1.columns=["percentage"]
data1 = data1[data1["percentage"]>0]
data1

In [ ]:
# Filling NaN values with mode for a/w and d/w. 

data["a/w"]= data["a/w"].fillna(data["a/w"].mode()[0])
data["d/w"]= data["d/w"].fillna(data["d/w"].mode()[0])

In [ ]:
data1 = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
data1.columns=["percentage"]
data1 = data1[data1["percentage"]>0]
data1

In [ ]:
# Delete the € from value, wage and release clause columns
columns = ["value", "wage", "release_clause"]
for column in columns:
    data[column]= data[column].str.replace("€", "")

In [ ]:
numericals

In [ ]:
data

In [ ]:
# Delete the "K" and "M" from value, wage and release clause and converted the numbers into thousands and millions
def convert_value(value_str):
    multiplier = 1
    if value_str.endswith("K"):
        multiplier = 10**3
        value_str = value_str[:-1]
    elif value_str.endswith("M"):
        multiplier = 10**6
        value_str = value_str[:-1]
    return float(value_str) * multiplier

columns = ["value", "wage", "release_clause"]

for column in columns:
    data[column] = data[column].apply(convert_value)
    
data['value'] = pd.to_numeric(data['value'], errors='coerce').convert_dtypes()
data['wage'] = pd.to_numeric(data['wage'], errors='coerce').convert_dtypes()
data['release_clause'] = pd.to_numeric(data['release_clause'], errors='coerce').convert_dtypes()

In [ ]:
data

In [ ]:
# Delete the ★ from w/f, sm and ir
columns = ["w/f", "sm", "ir"]
for column in columns:
    data[column]= data[column].str.replace("★", "")

data['w/f'] = pd.to_numeric(data['w/f'], errors='coerce').convert_dtypes()
data['sm'] = pd.to_numeric(data['sm'], errors='coerce').convert_dtypes()
data['ir'] = pd.to_numeric(data['ir'], errors='coerce').convert_dtypes()

In [ ]:
data

In [ ]:
# Deleting + signs and everything after that
data["ls"]= data["ls"].apply(lambda x: x.split("+")[0])

In [ ]:
columns = ["st","rs","lw","lf","cf", "rf", "rw", "lam", "cam","ram","lm","lcm","cm","rcm", "rm","lwb", "ldm","cdm","rdm","rwb","lb","lcb","cb","rcb","rb","gk"]

for column in columns:
    data[column]= data[column].apply(lambda x: x.split("+")[0])
    data[column]= pd.to_numeric(data[column],errors="coerce")

In [ ]:
data

In [ ]:
# Converting height column to "cm"
height_cm = pd.DataFrame(data['height'])
height_cm[['height','h_inch']] = height_cm['height'].str.split("'",expand=True)
height_cm.columns = ['h_feet','h_inch']
height_cm['h_inch'] = height_cm['h_inch'].str.replace('"','')
height_cm['h_feet'] = pd.to_numeric(height_cm['h_feet'], errors='coerce').convert_dtypes()
height_cm['h_inch'] = pd.to_numeric(height_cm['h_inch'], errors='coerce').convert_dtypes()
height_cm['height'] = height_cm['h_feet'] * 30.48 + height_cm['h_inch'] * 2.54
data['height'] = height_cm['height']
data.head()

In [ ]:
# Converting the weight from lbs to "kg"
data['weight'] = data['weight'].str.replace('lbs','')
data['weight'] = pd.to_numeric(data['weight'], errors='coerce').convert_dtypes()
data['weight'] = data['weight'] * 0.45
data.head()

In [ ]:
# Converting the K from the hits columns to thousand and converting to numeric
def convert_value(value_str):
    multiplier = 1
    if value_str.endswith("K"):
        multiplier = 10**3
        value_str = value_str[:-1]
    return float(value_str) * multiplier
data["hits"] = data["hits"].apply(convert_value)

In [ ]:
data['hits'] = pd.to_numeric(data['hits'], errors='coerce').convert_dtypes()
data['hits']

In [ ]:
data.to_csv("fifa21_train_clean.csv", index = False)

In [ ]:
data = pd.read_csv('fifa21_train_clean.csv')

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt
correlations_matrix = data.corr()
sns.heatmap(correlations_matrix, annot=True)
plt.show()